<div class="row">
  <div class="container-lg">

  </div>
  <div class="container-lg">
    <div class="col-sm-6 p-5">
      <div class="ratio ratio-16x9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/520iq4kYp9U" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-6 p-5">
      <div class="ratio ratio-16x9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wy9hhd2ZuK4" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
