<div class="container" id="about">
  <div class="row">
    <div class="col-sm-12 d-flex align-items-center justify-content-center mt-5 mb-sm-4 p-1 mx-sm-5">
      <h2 class="text-center text-primary">¿Qué es y cómo funciona un PPA?</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 px-5 py-2">
    <div class="ratio ratio-16x9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/520iq4kYp9U" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-sm-6 px-5 py-2">
    <div class="ratio ratio-16x9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wy9hhd2ZuK4" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>
</div>
