<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-6">
      <div echarts [options]="chartYear" class="demo-chart"></div>
    </div>
    <div class="col-sm-6">
      <div echarts [options]="chartLong" class="demo-chart"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 d-flex align-items-center justify-content-center pt-3">
    <h2 class="text-center text-primary mx-3">¿Quieres que algún asesor se ponga en contacto contigo?</h2>
  </div>
  <div class="col-sm-12 d-flex align-items-center justify-content-center pt-3">
    <h4 class="text-center text-primary mx-3">Rellena el formulario y algún asesor de tu zona responderá a tu
      consulta:</h4>
  </div>
</div>
<app-contact></app-contact>
