<div class="img__header d-flex flex-column">
  <div class="container-sm-fluid mt-sm-3 rounded mx-sm-5 bg-secondary-opacity-10">
    <div
      class="col-sm-12 rounded vh-50 mb-5 pt-5 bg-gradient d-md-flex align-items-center justify-content-center animate__animated animate__slideInLeft"
      *ngIf="visible">
      <div class="col d-flex flex-column align-items-center justify-content-center" data-aos="fade-left"
           data-aos-duration="1000" data-aos-delay="150" data-aos-offset="1">
        <div class="h4 text-center text-light mb-5">Introduce la superficie de tu cubierta</div>
        <i class="fal fa-house-day fa-10x text-warning d-none d-md-block"></i>
      </div>
      <div class="col d-flex flex-column align-items-center justify-content-center"
           data-aos="fade-left"
           data-aos-duration="1000" data-aos-delay="250" data-aos-offset="1">
        <div class="h4 text-center text-light mb-5">Selecciona tu provincia</div>
        <i class="fal fa-globe-europe fa-10x text-success d-none d-md-block"></i>
      </div>
      <div class="col d-flex flex-column align-items-center justify-content-center"
           data-aos="fade-left"
           data-aos-duration="1000" data-aos-delay="350" data-aos-offset="1">
        <div class="h4 text-center text-light mb-5">Presiona el botón de Calcular</div>
        <i class="fal fa-calculator fa-10x text-dark mb-3 d-none d-md-block"></i>
      </div>
    </div>
    <div
      class="col-sm-12 rounded vh-50 py-5 px-5 bg-warning d-md-flex flex-md-column align-self-end animate__animated animate__slideInUp"
      *ngIf="visible">
      <h3 class="text-dark text-center">Introduce las características de tu cubierta:</h3>
      <form novalidate class="form-row">
        <div class="form-group col-sm-12 mb-3">
          <label> Introduce la superficie en m<sup>2</sup>: </label>
          <input type="text" class="form-control" [formControl]="superficie">
        </div>
        <div class="form-group col-sm-12 mb-4">
          <label> Provincia: </label>
          <select class="form-control" [formControl]="provincia">
            <option selected>Seleccionar...</option>
            <option *ngFor="let region of regionData">{{region['provincia']}}</option>
          </select>
        </div>
        <div class="d-grid gap-2 col-12 mx-auto">
          <!--routerLink='/chart' [state]="{provincia: provincia, superficie: superficie}"-->
          <button class="btn btn-success btn-block mb-3 rounded-lg" role="button" type="button">Calcular</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid min-vh-25 mb-lg-5">

</div>

<app-about></app-about>

