<!-- Sección para el carrusel de imágenes data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out"-->
<div class="slider row">
  <div class="slide-track col-md-12">
    <div class="slide">
      <img src="/assets/img/ppasolar1.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/ppasolar2.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/ppasolar3.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/ppasolar4.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/ppasolar5.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/ppasolar6.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/ppasolar7.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/ppasolar8.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/ppasolar9.jpg" height="250px" alt=""/>
    </div>
  </div>
</div>
