<!-- Sección para el carrusel de imágenes data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out"-->
<div class="slider row vw-100 d-none d-sm-block">
  <div class="slide-track col-md-12">
    <div class="slide">
      <img src="/assets/img/amanecer.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/amanecer.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/amanecer.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/amanecer.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/amanecer.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/amanecer.jpg" height="250px" alt=""/>
    </div>
    <div class="slide">
      <img src="/assets/img/amanecer.jpg" height="250px" alt=""/>
    </div>
  </div>
</div>
