<div class="row justify-content-center">
  <div class="col-sm-12 my-5 px-sm-5">
    <div class="accordion" id="lopdText">
      <div class="accordion-item lh-lg">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
            <h3>Política de privacidad</h3>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#lopdText">
          <div class="accordion-body">
            <p class="text-dark">En <a href="http://ppasolar.es"><em>PPA Solar</em></a> consideramos prioritario
              proteger la privacidad y
              la seguridad de tus datos personales, tal y como se describe en nuestra Política de Privacidad (en
              adelante, la “Política”) y que es aplicable al tratamiento de los datos personales que desde ppasolar.es
              realizamos a través de nuestra web (en adelante, la “WEB”).
              <a href="http://ppasolar.es"><em>PPA Solar</em></a> podrá, en cualquier momento revisar y modificar esta
              Política, bien para adaptarla a la normativa, bien por recomendaciones de la <strong>Agencia Española de
                Protección de Datos</strong> (AEPD).
              En cualquier caso, se comunicará de forma transparente y quedará reflejado en esta Política.</p>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Contacto</div>
                  <p>
                    C/Méjico, 15, 1°- A, 33011, Oviedo, Asturias. Correo electrónico:
                    <a href="mailto:info@ppasolar.es">info@ppasolar.es</a>
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Normativa aplicable y principios de protección de datos</div>
                  <p>
                    La recogida de datos personales, el tratamiento y su utilización posterior por ppasolar.es estará
                    sujeta
                    al Reglamento UE 2016/671 General de Protección de Datos, de fecha 27 de abril de 2016 (en adelante,
                    “RGPD”), así como la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y
                    garantía
                    de los derechos digitales (en adelante, la “LOPDyGDD”).
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Uso y conservación de los datos personales</div>
                  <p>
                    Es tu responsabilidad proveer datos actualizados, correctos y fehacientes a fin de que ppasolar.es
                    pueda
                    realizar sus estudios con ajuste a la realidad y así proveer un servicio de calidad. <a
                    href="http://ppasolar.es"><em>PPA Solar</em></a> te podrá
                    solicitar en cualquier momento los documentos necesarios para comprobar la veracidad de dichos datos
                    y se
                    exime de responsabilidad en caso de que se incumpla con dicha obligación.
                  </p>
                  <p>
                    Los datos facilitados serán utilizados para el estudio de viabilidad del proyecto y únicamente serán
                    compartidos con nuestros proveedores con la finalidad de confirmar que el contrato ppa se puede
                    celebrar
                    con ajuste a los requisitos de todas las partes. Los datos se conservarán durante el tiempo
                    estrictamente
                    necesario para cumplir con las finalidades del tratamiento y cumplir con nuestras obligaciones
                    legales.
                  </p>
                  <p>
                    Tus datos serán conservados hasta el momento de tu baja definitiva como usuario de ppasolar.es, así
                    como
                    el tiempo necesario para el cumplimiento de nuestras obligaciones legales. En caso de que no seas un
                    usuario registrado, conservamos los datos durante el tiempo necesario para mantenerte informado y
                    atender
                    tus consultas y peticiones, así como para cumplir con nuestras obligaciones legales.
                  </p>
                  <p>
                    Conservamos información agregada con finalidades estadísticas, asegurando que no se pueda
                    identificar a
                    los usuarios registrados, respetando en todo caso su privacidad.
                  </p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Derechos de privacidad</div>
                  <p>
                    Para ejercer de estos derechos deberás dirigirte al departamento de privacidad de ppasolar.es
                    mediante
                    correo electrónico o por correo postal a las direcciones del apartado 1 de esta Política, aportando
                    la
                    siguiente información:
                  </p>
                  <ol class="list-group list-group-numbered" style="list-style: lower-latin">
                    <li class="list-group-item">
                      <p>Nombre completo y apellidos.</p>
                    </li>
                    <li class="list-group-item">
                      <p>Petición / derecho que se quiere solicitar.</p>
                    </li>
                    <li class="list-group-item">
                      <p>Medio / Canal de respuesta. Si no se incluye se responderá por el mismo medio de contacto
                        original.</p>
                    </li>
                    <li class="list-group-item">
                      <p>Documentos acreditativos que sean necesarios.</p>
                    </li>
                  </ol>
                </div>
              </li>
            </ol>
            <p class="text-dark mt-3 px-5">
              <a href="http://ppasolar.es"><em>PPA Solar</em></a> se compromete a tratar todas las peticiones con
              la mayor celeridad y seguridad posible, en
              cumplimiento de las leyes aplicables.
            </p>
            <p class="text-dark mt-1 px-5">
              <a href="http://ppasolar.es"><em>PPA Solar</em></a> se reserva el derecho de solicitar la
              documentación necesaria para verificar la
              identidad del interesado y la legitimidad de la petición.
            </p>
            <p class="text-dark mt-1 px-5">
              También tienes derecho a presentar una reclamación ante una autoridad de control competente:
              <a href="https://www.aepd.es/es">Agencia Española de Protección de Datos</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

