<div class="container-sm-fluid mt-3 rounded mx-sm-5 bg-secondary-opacity-10">
  <div
    class="col-sm-12 rounded h-50 mb-3 pt-5 bg-gradient d-md-flex align-items-center justify-content-center animate__animated animate__slideInLeft"
    *ngIf="visible">
    <div class="col d-flex flex-column align-items-center justify-content-center" data-aos="fade-left"
         data-aos-duration="1000" data-aos-delay="150" data-aos-offset="1">
      <div class="h4 text-center text-light mb-5">Introduce la superficie</div>
      <i class="fal fa-house-day fa-10x text-warning d-none d-md-block"></i>
    </div>
    <div class="col d-flex flex-column align-items-center justify-content-center"
         data-aos="fade-left"
         data-aos-duration="1000" data-aos-delay="250" data-aos-offset="1">
      <div class="h4 text-center text-light mb-5">Selecciona tu provincia</div>
      <i class="fal fa-globe-europe fa-10x text-success d-none d-md-block"></i>
    </div>
    <div class="col d-flex flex-column align-items-center justify-content-center"
         data-aos="fade-left"
         data-aos-duration="1000" data-aos-delay="350" data-aos-offset="1">
      <div class="h4 text-center text-light mb-5">Presiona Calcular</div>
      <i class="fal fa-calculator fa-10x text-danger d-none d-md-block"></i>
    </div>
  </div>
  <div
    class="col-sm-12 rounded h-50 py-3 px-5 bg-warning opacity-50 d-md-flex flex-md-column align-self-end animate__animated animate__slideInUp"
    *ngIf="visible">
    <h3 class="text-dark text-center">Introduce las características de tu cubierta:</h3>
    <form novalidate [formGroup]="simulatorForm" class="form-row">
      <div class="form-group col-sm-12 mb-3">
        <label for="inputArea" class="form-label"> Introduce la superficie en m<sup>2</sup>: </label>
        <input [class]="isValidField('superficieInput')" type="text" class="form-control" id="inputArea"
               formControlName="superficieInput" placeholder="0">
        <div class="invalid-feedback">
          <span *ngIf="simulatorForm.get('superficieInput')?.errors?.required">
              Por favor, introduce la superficie. Este campo es requerido.
          </span>
        </div>
        <div class="invalid-feedback">
          <span *ngIf="simulatorForm.get('superficieInput')?.errors?.pattern">
              Por favor, introduce una superficie válida. Al menos 3 dígitos y formato numérico.
          </span>
        </div>
      </div>
      <div class="form-group col-sm-12 mb-4">
        <label for="inputState" class="form-label"> Provincia: </label>
        <select class="form-control" type="text" [class]="isValidField('provinciaInput')"
                formControlName="provinciaInput" id="inputState">
          <option [selected]="true" [disabled]="true">Seleccionar...</option>
          <option *ngFor="let region of regionData">{{region['provincia']}}</option>
        </select>
        <div class="invalid-feedback">
          <span *ngIf="simulatorForm.get('provinciaInput')?.errors?.required">
              Por favor, introduce la superficie. Este campo es requerido.
          </span>
        </div>
      </div>
      <div class="d-grid gap-2 col-12 mx-auto">
        <button [disabled]="!simulatorForm.valid" class="btn btn-success btn-block mb-3 rounded-lg" role="button"
                type="button" [routerLink]="['chart']" [queryParams]="{area: this.simulatorForm.controls['superficieInput'].value,
                 state: this.simulatorForm.controls['provinciaInput'].value}" (click)="validDataAlert()">Calcular
        </button>
      </div>
    </form>
  </div>
</div>
